<%= form_with(model: resumes_replica) do |form| %>
  <%= render "layouts/shared/model_errors", model: resumes_replica %>

  <div class="inline">
    <%= form.submit class: "rounded py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
